# This compose file is for development use ONLY!

# In order to preserve file ownership and permissions,
# create a '.env' file containing DEKCD_TRAINING_UID and DEKCD_TRAINING_GID.

# You may set a custom ruby tag using
# DEKCD_TRAINING_RUBY_TAG in your '.env' file

# In order to use this composition from multiple locations
# on one host, you also need to specify 'COMPOSE_PROJECT_NAME'
# in your '.env' file, so multiple compositions will not interfere.

# If you would like to use multiple compositions in parallel,
# you also need to set the DEKCD_TRAINING_PORT and DEKCD_TRAINING_RELOAD_PORT
# in your '.env' file, so that ports do not collide.

# In order to use this composition with rootless container platform
# installations, e.g. podman or docker rootless, please review
# user namespace settings of your installation.
# If you have set it to 'host', you need to set DEKCD_TRAINING_UID and DEKCD_TRAINING_GID
# to 0 in order to preserve correct file ownership.

name: '${COMPOSE_PROJECT_NAME:-dekcd-training-dev}'

services:
  jekyll-server:
    image: 'ruby:${DEKCD_TRAINING_RUBY_TAG:-3-trixie}'
    volumes:
      - './:/src/dekcd-training:rw'
      - '/dev/null:/src/dekcd-training/Gemfile.lock:rw'
    ports:
      - '127.0.0.1:${DEKCD_TRAINING_PORT:-4000}:${DEKCD_TRAINING_PORT:-4000}'
      - '127.0.0.1:${DEKCD_TRAINING_RELOAD_PORT:-4001}:${DEKCD_TRAINING_RELOAD_PORT:-4001}'
    user: '${DEKCD_TRAINING_UID:-1000}:${DEKCD_TRAINING_GID:-1000}'
    environment:
      HOME: '/src/dekcd-training'
    working_dir: '/src/dekcd-training'
    command: 'bash -c "bundle install --path .bundle && bundle exec jekyll serve --strict_front_matter -d _site/training-material --incremental -P ${DEKCD_TRAINING_PORT:-4000} -H 0.0.0.0 -l --livereload-port ${DEKCD_TRAINING_RELOAD_PORT:-4001}"'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:${DEKCD_TRAINING_PORT:-4000}/training/']
      interval: 30s
      timeout: 1s
      start_period: 2m
      start_interval: 5s
