{% comment %}
  Feedback for a tutorial
{% endcomment %}

<div class="alert alert-info">
  <strong>💬 Feedback</strong>: Found something unclear or want to suggest an improvement? <a href="https://github.com/deKCD/Training-Materials/issues/new?template=feedback.yml" target="_blank">Open a feedback issue.</a>
  <p>We also welcome contributions when you spot an opportunity to improve the training materials.</p>
  <p>Please review the <a href="{{ '/CONTRIBUTING/' | relative_url }}">contribution page</a> first.</p>
  <p>Then, <a href="{{ site.repository_url }}/edit/main/{{ page.path }}" target="_blank" rel="noopener">edit this material on GitHub</a> to suggest your improvements.</p>
</div>