{% comment %}
  Feedback for a tutorial
{% endcomment %}

<div class="alert alert-info">
  <strong>💬 Feedback</strong>: Found something unclear or want to suggest an improvement? <a href="https://github.com/deKCD/Training-Materials/issues/new?template=feedback.yml" target="_blank"><b>Open a feedback issue.</b></a>
  <p></p>
  <strong>👥 Contribution</strong>: We also welcome contributions when you spot an opportunity to improve the training materials.
  Please review the <a href="{{ '/CONTRIBUTING/' | relative_url }}"><b>contribution page</b></a> first. Then, <a href="{{ site.repository_url }}/edit/main/{{ page.path }}" target="_blank" rel="noopener"><b>edit this material on GitHub</b></a> to suggest your improvements.
</div>