---
layout: null
---

{% include base_path.html %}
{% include gh_variables.html %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
    <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/lesson.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/syntax.css' | relative_url }}" />

</head>
<body>
  <header class="page-header" role="banner">
    <h1 class="project-name" style="font-size: 2.5em; font-weight: bold;">{{ page.title | default: site.title }}</h1>
    <h2 class="project-tagline" style="font-size: 1.5em; color: #fff solid;">{{ page.description | default: site.description }}</h2>
    <a href="{{ '/' | relative_url }}" class="btn">Home Page</a>
    {% assign repo_url = site.github.repository_url | default: site.repository_url %}
      {% if repo_url %}
        <a href="{{ repo_url }}" class="btn" target="_blank" rel="noopener">View on GitHub</a>
      {% endif %}  
  </header>

  <main class="main-content">
    {{ content }}
  </main>

<footer class="site-footer">
    {% if site.github.is_project_page %}
      <span class="site-footer-owner">
        <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
      </span>
    {% endif %}
  

    <span class="site-footer-credits">
      {% include default_footer.html %}
    </span>
  </footer>
</body>
</html>
