---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap-theme.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/lesson.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/syntax.css' | relative_url }}" />
  {% if page.math %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/katex.min.css' | relative_url }}" />
  {% endif %}
    
  {% include favicons.html %}
</head>

<body>
  <header class="page-header" role="banner" style="margin-top: 0">
    <h1 class="project-name" style="font-size: 2.5em; font-weight: bold;">{{ page.title | default: site.title }}</h1>
    <h2 class="project-tagline" style="font-size: 1.5em; color: #fff solid;">{{ page.description | default: site.description }}</h2>
    <a href="{{ '/' | relative_url }}" class="btn">Home Page</a>
    <a href="{{ '/pathways/' | relative_url }}" class="btn">Collection of Learning pathways</a>
  </header>
 
    <div class="pathway-content tutorial-grop container">    
      {% for section in page.pathway %}
        <h2>{{ section.section }}</h2>
        <p>{{ section.description }}</p>
        
        <table>
          <colgroup>
            <col style="width: 20%;">
            <col style="width: 30%;">
            <col style="width: 40%;">
          </colgroup>
          <thead>
            <tr>
              <th>Tutorial</th>
              <th>Description</th>
              <th>Learning Objectives</th>  
            </tr>
          </thead>
          <tbody>
            {% for tutorial_ref in section.tutorials %}
              {% assign matching_tutorials = site.tutorials | where: "slug", tutorial_ref.name %}
              {% assign tutorial = matching_tutorials | where: "version", tutorial_ref.version | first %}

              {% if tutorial %}
              <!-- render tutorial row -->
                <tr>
                    <td><a href="{{ tutorial.url | relative_url }}">{{ tutorial.title }}</a></td>
                    <td>{{ tutorial.description }}</td>
                    <td>
                        <ul>
                            {% for obj in tutorial.objectives %}
                            <li>{{ obj }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
              {% else %}
              <tr>
                  <td colspan="3">Tutorial "{{ tutorial_ref.name }}" (version: "{{ tutorial_ref.version }}") not found.</td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    {% endfor %}

    <p>This material is reviewed by our Editorial Board:</p>
        <ul>
            {% for editor in page.editorial_board %}
                {% if editor.orcid %}
                <a href="https://orcid.org/{{ editor.orcid }}" target="_blank">{{ editor.name }}</a>
                {% else %}
                {{ editor.name }}
                {% endif %}
            {% endfor %}
        </ul>
    {% include tutorial_feedback.html %}
    </div>
</body>
{% include tutorial_footer.html %}
</html>
