---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap-theme.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/lesson.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/syntax.css' | relative_url }}" />
  {% if page.math %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/katex.min.css' | relative_url }}" />
  {% endif %}
    
  {% include favicons.html %}
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner" style="margin-top: 0">
  <!--  <img src="{{ '/assets/img/dekcd_vector.svg' | relative_url }}" alt="Logo" class="logo"> -->
    <h1 class="project-name" style="font-size: 2.5em; font-weight: bold;">{{ page.title | default: site.title }}</h1>
    <h2 class="project-tagline" style="font-size: 1.5em; color: #fff solid;">{{ page.description | default: site.description }}</h2>
    <a href="{{ '/' | relative_url }}" class="btn">Home Page</a>
    <a href="{{ '/tutorials/' | relative_url }}" class="btn">Collection of Tutorials</a>
  </header>
    
    <div class="container">
      {% include tutorial_lifecycle.html %}
      {% include tutorial_overview.html %}
        {{ content }}
      {% include tutorial_keypoints.html %}
    </div>
    {% include javascript.html %}
    

  {% include tutorial_footer.html %}
  

</body> 
</html>
